[Desktop Entry]
Name=SimpleX
GenericName=SimpleX
Comment=SimpleX
Exec=
Icon=simplex
Terminal=false
Type=Application
StartupWMClass=chat-simplex-desktop-MainKt
